h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 70px;
  color:white;
}
body{
    background-color: #2A2A72
}
#something {

}
#list ul {
	margin:0;
	padding:0;
	list-style-type:none;

}
#list ul li {
  height: 30px;
	margin: 3px;
	padding: 8px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	border-radius: 8px;
	background-color: #f5f0f0;
	border: 1px solid #3333;
}

#list ul li span.title {
	float:left;
	display:inline-block;
	padding:5px;

}

#list ul li span.action {
	float:right;
  inline-block;
}
ul .done {
  border-radius: 8px;
  border-color: green;
}
#list ul li.done {
	border-color: green;
  border-radius: 8px;
  border-width: medium;
  font-color

}
.done .title{
	text-decoration: line-through;
  text-decoration-color: green;
  color:green;
}

#list ul li a {
	font-family: Helvetica, sans-serif;
	font-size:14px;
	text-decoration: none;
	display:inline-block;
	border-radius:8px;
	background-color:#333333;
	padding:5px 8px;
	color:#fff;
}
#list ul li a:hover {
	background-color:#eee;
	color:#000;

}
#toDoInput {
  font-size:16px;
  font-family: Helvetica, sans-serif;
  padding:5px 8px;
  /* border:1px solid #ccc; */
  border-radius:8px;
  text-align: center;
}
#addButton {
  padding:5px 20px;
  font-size:14px;
  border-radius:8px;
  border:1px solid #ccc;
  background-color:#ccc
}
#div {
  width:80%;
  margin:0 auto;
  padding:10px;
}
